@model ElectronicJournal.Web.ViewModels.ListCoursesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Liner"))
    {
        <a asp-action="Create">Создать курс</a>
    }
    else
    {
        <a asp-action="CreateRequest">Создать заявку</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
